.my-message-info{
  background: #EAEEFF !important;
  i {
    color: #365AFF !important;
  }
  p{
    color: #333333 !important;
  }
}

.my-message-error{
  background: #FFECED !important;
  i {
    color: #D93026 !important;
  }
  p{
    color: #333333 !important;
  }
}
